.logo{
  margin-top: 22px;
  margin-left: 5%;
  margin-bottom: 30px;
  width: 15%;
  background: #fff;
  &:hover {
    transition: all ease .5s;
    opacity: .6;
  }
}

.arrow {
  margin: 20px auto 40px auto;
  display: block;
  cursor: pointer;
  //margin-top: 30px;
  //margin-bottom: 20px;
  width: 50px;
  height: 50px;
  background: #000;
  transition: all ease .5s;
  text-align: center;
  &:hover {
    transition: all ease 1s;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.fa-angle-down {
  color: #fff;
  font-size: 3rem;
  padding-top: 10px;

}


